/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style the header */
.header {
    background-color: #16423C;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 0.3em;
}

/* Style the list items */
ul li {
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    border-bottom: solid 1px #16423C;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
}

.item-text {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
}

.item-text:hover {
    cursor: pointer;
    color: #C4DAD2;
}

.item-button {
    cursor: pointer;
    height: 51px;
    width: 51px;
    background-color: #eee;
    border: none;
}

.item-button:hover {
    background: #6A9C89;
}

.checked {
    color: #6A9C89;
    text-decoration: line-through;
}

/* Style add button */
.add-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.add-button {
    height: 40px;
    width: 140px;
    border-radius: 4px;
    border: solid 1px black;
    font-size: small;
    font-weight: bold;
    background-color: #16423C;
    color: #eee;
}
